fastapi==0.109.2
uvicorn==0.27.1
pydantic==2.6.1
pydantic-settings==2.1.0
python-dotenv==1.0.1
sqlalchemy==2.0.25
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.6
httpx==0.26.0
requests==2.31.0
jinja2==3.1.2

# Добавленные библиотеки для работы с базой знаний и ChromaDB
beautifulsoup4==4.12.3
tqdm==4.66.4
langchain-text-splitters==0.0.2
markdownify==0.12.1
numpy==1.26.4
chromadb==0.5.0
langchain-openai==0.1.8
openai==1.28.0
